<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>

<body>
    <h1>Become Admin</h1>

    <% if (error) { %>
        <p><%= error %></p>
    <% } %>

    <form action="/admin" method="POST">
        <div>
            <input type="checkbox" id="adminConfirm" name="adminConfirm">
            <label for="adminConfirm">Make me an admin</label>
        </div>

        <button type="submit">Confirm</button>
    </form>

    <p><a href="/">Back to home</a></p>
</body>

</html>