<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <header>
        <h1>Members Only</h1>
        <nav>
            <ul>
                <li><a href="/log-in">Log-in</a></li>
                <li><a href="/sign-up">Sign up</a></li>
                <li><a href="/join-club">Join the Club</a></li>
            </ul>
        </nav>
        <main>
            <h2>All messages</h2>
            <p>no messages yet.</p>
        </main>
    </header>
</body>

</html>