<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing pages</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main>
      <div class="page-selector">
        <a href="/login">Log in</a>
        <a href="/sign-up">Sign up</a>
        <a href="/msg-wall">Join as Guest</a>
      </div>
    </main>
  </body>
</html>
