<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main>
      <form action="/sign-up" method="POST">
        <label for="" for="username">Username</label>
        <input type="text" name="username" id="username" />

        <label for="" for="email">E-mail</label>
        <input type="text" name="email" id="email" />

        <label for="" for="first_name">First name</label>
        <input type="text" name="first_name" id="first_name" />

        <label for="" for="last_name">Last name</label>
        <input type="text" name="last_name" id="last_name" />

        <label for="" for="password_1">Password</label>
        <input type="text" name="password_1" id="password_1" />

        <label for="" for="password_2">Password again</label>
        <input type="text" name="password_2" id="password_2" />

        <button type="submit">Sing Up</button>
      </form>
    </main>
  </body>
</html>
